<form action="delete" method="post">
    <table border align="center" min-width="350" width="500">
        <caption>
            <font size="5"><strong>登録授業一覧</strong></font>
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-delete-all">一括削除</button>
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-register">新規登録</button>
        </caption>
        <tr>
            <th width="90%">授業名</th><th width="10%">削除</th>
        </tr>
        <% @studies.each do |study| %>
            <tr>
                <td><%= study %></td>
                <td>
                    <input type="hidden" name="study" value=<%= study %>>
                    <button type="submit" class="btn btn-primary">削除</button>
                </td>
            </tr>
        <% end %>
    </table>
</form>

<!-- モーダルの配置 -->
<div class="modal fade" id="modal-register" tabindex="-1">
    <form action="register" method="post">
        <div class="modal-dialog modal-sm">

            <!-- モーダルのコンテンツ -->
            <div class="modal-content">
                <!-- モーダルのヘッダ -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modal-label">新規登録</h4>
                </div>
                <!-- モーダルのボディ -->
                <div class="modal-body">
                    <label>授業名</label>
                    <input type="text" name="study">
                </div>
                <!-- モーダルのフッタ -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-primary">新規登録</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- モーダルの配置 -->
<div class="modal fade" id="modal-delete-all" tabindex="-1">
    <div class="modal-dialog modal-sm">

        <!-- モーダルのコンテンツ -->
        <div class="modal-content">
            <!-- モーダルのヘッダ -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">ダイアログ</h4>
            </div>
            <!-- モーダルのボディ -->
            <div class="modal-body">
                本当に一括削除してもよろしいですか？
            </div>
            <form action="delete_all" method="post">
                <!-- モーダルのフッタ -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-danger">一括削除</button>
                </div>
            </form>
        </div>
    </div>
</div>
